*

# 2. Allow all directories so Git can search them
!*/

!*./src/*.cpp
!*./src/*.hpp
!*.h
!*.gitignore
!.*.txt
!*.toml
!*.md
!.Makefile
!.github/
!.github/workflows/*.yml

# 4. Handle Python files:
!src/stochastic_flock/
!src/stochastic_flock/*.py

build/
build_pgo/
build_native/
dist/
__pycache__/
*.egg-info/
*.so
.venv/
src/stochastic_flock/__init__.py
