name: Build and Upload

on:
  push:
    branches: [ main ]
  release:
    types: [published]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4
        
      - name: Install Python development headers
        run: sudo apt-get update && sudo apt-get install -y python3-dev

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.17.0
        env:
          CIBW_SKIP: cp36-* cp37-* pp*
          CIBW_ENVIRONMENT: SKBUILD=ON

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  upload_pypi:
    needs: [build_wheels]
    runs-on: ubuntu-latest
    # This permission is required for Trusted Publishing
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: cibw-*
          path: dist
          merge-multiple: true

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
